<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div class="error">
      <% @question.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
      <% end %>
    </div>
  <% end %>
	<div class="section6">
		<div class="section6-holder">
			<span>Q</span>
			<div class="section6-box">
				<strong><%= f.label :title, t('.question') %></strong>
						<fieldset style="margin-bottom:15px;">
              <%= f.text_area :title %>
						</fieldset>
            <strong><%= t '.add_context' %></strong>
				<div class="textbox2-block">
						<fieldset>
              <%= f.text_area :description %>
						</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="section4">
		<fieldset class="select">
			<div class="row">
        <label><%= t '.select_topic' %>: </label>
        <%= f.select :category, category_values(@question.category) %>
			</div>
			<div class="row">
        <label><%= t '.add_tags' %>:</label>
        <%= f.text_field :tag_list %>
			</div>
		</fieldset>
	</div>
  
  <% if can? :create, Answer %> 
    <%= f.fields_for :answers do |ff| %>
      <%= render 'answers/form_fields', :f => ff %>  
    <% end %>      
  <% end %>
  <div class="row" style="margin:15px 0;">
    <%= f.submit %>
  </div>
<% end %>
