<div class="section">
	<div class="heading">
		<ul>
			<li><a href="#"><%= question.category.capitalize %></a></li>
		</ul>
	</div>
	<h3><%= link_to question.title, question %></h3>
	<% if question.has_answers? %>
	<% answer = question.answers.first %>
	<%= render answer %>
  <div class="section-holder">
		<ul>
		  <% if answer.question.answers.count > 1 %>
			<li><a href="<%= question_answers_path(question) %>"><span><%= answer.question.answers.count %></span></a>MORE ANSWERS</li>
			<% end %>
			<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(answer.question) %></li>
		</ul>
	</div>
	<% else %>
	<div class="section-holder">
		<ul>
			<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(question) %></a></li>
		</ul>
	</div>
	<% end %>
</div>
