<div class="section">
	<div class="heading">
		<ul>
			<li><a href="#"><%= category1_name question.category %></a></li>
			<li><a href="#"><%= category2_name question.category %></a></li>
		</ul>
		<% if !question.tags.blank? %>
		  <ul class="nav-list3">
		    <%= question.tags.each do |tag| %>
			    <li><a href="#">tag.name.capialize</a></li>
			  <% end %>
		  </ul>
		<% end %>
	</div>
	<h3><%= link_to question.title, question %></h3>   
	<% if question.has_answers? %>
	<% answer = question.answers.first %>
	<%= render answer %>
  <div class="section-holder">
		<ul>
		  <% if answer.question.answers.count > 1 %>
			<li><a href="<%= question_answers_path(question) %>"><span><%= answer.question.answers.count %></span></a>MORE ANSWERS</li>
			<% end %>
			<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(answer.question) %></li>
		</ul>
	</div>
	<% else %>
	<div class="section-holder">
		<ul>
			<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(question) %></a></li>
		</ul>
	</div>
	<% end %>
</div>
