<div class="section">
	<div class="heading">
		<ul>
			<li><a href="<%= questions_path(:category => question.category1) %>"><%= category1_name question.category %></a></li>
			<li><a href="<%= questions_path(:category => question.category2) %>"><%= category2_name question.category %></a></li>
		</ul>
		<% if !question.tags.blank? %>
		  <ul class="nav-list3">
		    <% question.tags.each do |tag| %>
			    <li><a href="#"><%= tag.name.capitalize %></a></li>
			  <% end %>
		  </ul>
		<% end %>
	</div>
	<h3><%= link_to question.title, question %></h3>   
	<% if question.has_answers? %>
	<% answer = question.answers.first %>
	<%= render answer %>
  <div class="section-holder">
		<ul>
		  <% if answer.question.answers.count > 1 %>
			<li><a href="<%= question_answers_path(question) %>"><span><%= answer.question.answers.count %></span></a>MORE ANSWERS</li>
			<% end %>
			<% if can? :create, Answer %>
  			<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(question) %></a></li>
  	  <% end %>
		</ul>
	</div>
	<% else %>
	<div class="section-holder">
		<ul>
		  <% if can? :create, Answer %>
  			<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(question) %></a></li>
      <% end %>
      <% if can? :manage, :all %>
        <li><a href="<%= url_for edit_question_path(question) %>" class="edit-link">Edit</a></li>
        <li><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></li>
      <% end %>
  	  
		</ul>
	</div>
	<% end %>
</div>
