<div id="sidebar">
  <strong class="decor"><span>
    <% if params[:faq] %>
      <%= t('questions.sidebar.faq') %>
    <% else %>
      <%= t('questions.sidebar.guideline') %>
    <% end %>
  </span></strong>
	<div class="textbox">
    <% if params[:faq] %>
      <p><%= t('questions.sidebar.faq1').html_safe %></p>
      <p><%= t('questions.sidebar.faq2').html_safe %></p>
    <% else %>
      <p><%= t('questions.sidebar.guideline1').html_safe %></p>
    <% end %>
	</div>
  <strong class="decor"><span><%= t('questions.sidebar.guideline2') %></span></strong>
	<div class="textbox">
    <strong><%= t('questions.sidebar.guideline3') %></strong>
		<ul>
			<li>
				<span>1.</span>
        <p><%= t('questions.sidebar.guideline4') %></p>
			</li>
			<li>
				<span>2.</span>
        <p><%= t('questions.sidebar.guideline5') %></p>
			</li>
			<li>
				<span>3.</span>
        <p><%= t('questions.sidebar.guideline6') %></p>
			</li>
			<li>
				<span>4.</span>
        <p><%= t('questions.sidebar.guideline7') %></p>
			</li>
			<li>
				<span>5.</span>
        <p><%= t('questions.sidebar.guideline8') %></p>
			</li>
			<li>
				<span>6.</span>
        <p><%= t('questions.sidebar.guideline9') %></p>
			</li>
		</ul>
    <strong><%= t('questions.sidebar.guideline10') %></strong>
		<ul>
		  <li>
				<span>1.</span>
        <p><%= t('questions.sidebar.guideline11') %></p>
		  </li>
		  <li>
				<span>2.</span>
        <p><%= t('questions.sidebar.guideline12') %></p>
		  </li>
		  <li>
				<span>3.</span>
        <p><%= t('questions.sidebar.guideline13') %></p>
		  </li>
		  <li>
				<span>4.</span>
        <p><%= t('questions.sidebar.guideline14') %></p>
		  </li>
		</ul>
    <p><%= t('questions.sidebar.guideline15') %></p>
    <strong><%= t('questions.sidebar.guideline16') %></strong>
    <p><%= t('questions.sidebar.guideline17') %></p>
	</div>
</div>
