<%= flash_helper %>
<h1>Listing all questions</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>Tags</th>
    <th>State</th>
    <th>Answers Count</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= link_to question.user.display_name, question.user %></td>
    <td><%= question.category %></td>
    <td><%= question.tag_list %></td>
    <td><%= question.state %></td>
    <td><%= question.answers_count %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
    <% if question.new? %>
      <td><%= link_to 'Verify', verify_question_path(question), :confirm => 'Are you sure?' %></td>
    <% else %>
      <td><%= link_to 'Unverify', unverify_question_path(question), :confirm => 'Are you sure?' %></td>
    <% end %>
    <% if question.verified? %>
      <td>
        <%= link_to 'Assign', new_question_assignment_path(question) %>&nbsp;
        <%= link_to 'Assignments', question_assignments_path(question) %>
      </td>
    <% end %>
    <% if question.is_top %>
      <td><%= link_to 'Untop', settop_question_path(question, :top => false), :confirm => 'Are you sure?' %></td>
    <% else %>
      <td><%= link_to 'Top', settop_question_path(question, :top => true), :confirm => 'Are you sure?' %></td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @questions %>
<br />

<%= link_to 'New question', new_question_path %>
