<div id="content">
<% content_for :sidebar do %>
  <div id="sidebar">
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2><%= t('.all_questions') %><% if !params[:category].blank? %> <%= t('.in_category') %> <%= category_name(params[:category]).upcase %> <% end %></h2>
<%= render 'shared/search_form' %>
<ul class="nav-add">
	<li><span><%= @questions_count %></span> <%= pluralize_without_number @questions_count, t('.questions') %></li>
	<li><span><%= @answers_count %></span> <%= pluralize_without_number @answers_count, t('.answers') %></li>
  <li class="bul-slash"><a href="<%= url_for(params.merge(:order => 'popular')) %>"><% if params[:order] == 'popular' %><span><%= t('.popularity') %></span><% else %><%= t('.popularity') %><% end %></a></li>
  <li><a href="<%= url_for(params.merge(:order => 'date')) %>"><% if params[:order] == 'date' || params[:order].blank? %><span><%= t('.date') %></span><% else %><%= t('.date') %><% end %></a></li>
</ul>
<div class="sections questions-list">
  <% @questions.each do |question| %>
	  <%= render question %>
	<% end %>
</div>
<div class="sections">
  <% if @questions_count > WillPaginate.per_page %>
    <%= link_to t('.load_more').html_safe, params.merge(:page => 2), :remote => true, :class => 'load load-more-questions' %>
  <% end %>
</div>
<div class="section-area">
  <h4><%= t('.cant_find_answer') %> <%= link_to t('.post_your_question'), new_question_path %></h4>
</div>
</div>
