<div id="content">
<% content_for :sidebar do %>
  <div id="sidebar">
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2>ALL QUESTIONS<% if !params[:category].blank? %> IN CATEGORY <%= category_name(params[:category]).upcase %> <% end %></h2>
<form class="search" action="#">
	<fieldset>
		<div class="row">
			<span>
				<input type="text" value="SEARCH QUERY HERE" />
				<input type="submit" value="" class="btn-search" />
			</span>
		</div>
	</fieldset>
</form>
<ul class="nav-add">
	<li><span><%= @questions_count %></span> <%= pluralize_without_number @questions_count, 'QUESTIONS' %></li>
	<li><span><%= @answers_count %></span> <%= pluralize_without_number @answers_count, 'ANSWERS' %></li>
	<li class="bul-slash"><a href="<%= url_for(params.merge(:order => 'popular')) %>"><% if params[:order] == 'popular' %><span>POPULARITY</span><% else %>POPULARITY<% end %></a></li>
	<li><a href="<%= url_for(params.merge(:order => 'date')) %>"><% if params[:order] == 'date' || params[:order].blank? %><span>DATE</span><% else %>DATE<% end %></a></li>
</ul>
<div class="sections">
  <% @questions.each do |question| %>
	  <%= render question %>
	<% end %>
</div>
<div class="section-area">
	<h4>CAN'T FIND AN ANSWER? <%= link_to 'POST YOUR QUESTION HERE', new_question_path %></h4>
	<!--a href="#" class="load">LOAD MORE Q&amp;As</a-->
</div>
</div>