<div id="content">
<div class="sections">
    <%= flash_helper %>
		<div class="section" style="border-bottom:none;padding:0;">
      <div class="heading2">
        <ul>
          <li><a href="<%= questions_path(:category => @question.category) %>"><%= category_name @question.category %></a></li>
        </ul>
        <ul class="nav-list3">
          <% @question.tags.each do |tag| %>
			      <li><a href="#"><%= tag.name.capitalize %></a></li>
			    <% end %>
        </ul>
      </div>
      <h3><%= @question.title %></h3>
    </div>
</div>
<% if @question.answers == 0 %>
  <p>No one answered this question yet. <% if current_user.admin? || current_user.expert? %><%= link_to 'Post an answer', new_question_answer_path(@question) %><% end %></p>
<% else %>
<% @question.answers.each do |answer| %>
<div class="section">
  <%= render answer %>
</div>
<% end %>
<% end %>
<% title @question.title%>
<% content_for :sidebar do %>
<!-- sidebar -->
	<div id="sidebar">
  <%= render 'shared/nav_sidebar' %>
  </div><!-- /sidebar -->
<% end %>
</div>
