							<div class="sections">
                  <p id="notice"><%= notice %></p>
									<div class="section" style="border-bottom:none;padding:0;">
                    <div class="heading2">
                      <ul>
                        <li><a href="#"><%= @question.category.capitalize %></a></li>
                      </ul>
                      <ul class="nav-list3">
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">Friction</a></li>
                        <li><a href="#">Gap</a></li>
                        <li><a href="#">Products</a></li>
                      </ul>
                    </div>
                    <h3><%= @question.title %></h3>
                  </div>
              </div>
<% @question.answers.each do |answer| %>
<div class="section">
  <%= render answer %>
</div>
<% end %>

<% content_for :sidebar do %>
<!-- sidebar -->
	<div id="sidebar">
  <%= render 'shared/nav_sidebar' %>
  </div><!-- /sidebar -->
<% end %>