<%= flash_helper %>
<h1>Listing unanswered questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>Tags</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <% if can? :manage, Question %>
      <th></th>
    <% end %>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= link_to question.user.display_name, question.user %></td>
    <td><%= question.category %></td>
    <td><%= question.tag_list %></td>
    <td><%= question.description %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Assign', new_question_assignment_path(question)%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', new_question_path %>
