<div id="content">
  <ul class="naving">
  <li><span>Resend confirmation instructions</span></li>
</ul>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  
  <fieldset>
    <div class="form-section">
      <%= f.label :email %>
      <%= f.email_field :email, :class => 'size2' %>
    </div>

  <div class="form-section-submit"><%= f.submit "Resend confirmation instructions" %></div>
  
  </fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>