<h1>Listing assignments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.user.display_name %></td>
    <td><%= assignment.question.title %></td>
    <td><%= link_to 'Show', [@question, assignment] %></td>
    <td><%= link_to 'Edit', edit_question_assignment_path(@question, assignment) %></td>
    <td><%= link_to 'Destroy', [@question, assignment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_question_assignment_path(@question) %>
