<%= flash_helper %>
<h1>RSS Links</h1>

<table>
  <thead>
  <tr>
    <th>Rank</th>
    <th>URL</th>
    <th>Category</th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @rss_links.each do |link| %>
  <tr>
    <td><%= link.rank || 0 %></td>
    <td><%= link_to link.link, link.link, :target => :blank %></td>
    <td id='link-edit-<%= link.id %>'> 
      <span style='display:none;'>
        <%= render :partial => 'form', :locals => {:rsslink => link} %>
      </span> 
      <span>
        <%= briefing_category_name link.category %>&nbsp;
        <a href='#' onclick="$('#link-edit-<%= link.id %>').children().toggle();return false;" >Edit</a>
      </span>
    </td>
    <td><%= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>


<br />
<%= render :partial => "form", :locals => {:rsslink => @new_link} %>
<br />
<h2>Resulting RSS Feeds</h2>
<%= link_to 'all', rss_rss_links_path %>
<% briefing_categories.each do |name, tag| %>
  <%= link_to name, rss_rss_links_path(:category => tag) %>
<% end %>

