<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div class="error">
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
      <% end %>
    </div>
  <% end %>

  <div class="sections">
    <strong class="decor">
      <span><%= t 'users.form.personal' %></span>
    </strong>
	  <fieldset>
		  <div class="form-section">
			  <%= f.label :first_name %>
			  <%= f.text_field :first_name, :class => 'size2' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :last_name %>
			  <%= f.text_field :last_name, :class => 'size2' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :occupation %>
			  <%= f.text_field :occupation, :class => 'size1' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :company %>
			  <%= f.text_field :company, :class => 'size1' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :location %>
			  <%= f.text_field :location, :class => 'size1' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :avatar %>
			  <%= f.file_field :avatar %>
		  </div>
      <div class="form-section">
        <label for="in_brief"><%= t 'users.form.in_brief' %></label>
        <%= f.text_area :in_brief, :class => 'size1', :rows => 8 %>
      </div>
	  </fieldset>
    
	  <strong class="decor">
      <span><%= t 'users.form.contacts' %></span>
    </strong>
	
	  <fieldset>
		  <div class="form-section">
			  <%= f.label :contact_email %>
			  <%= f.text_field :contact_email, :class => 'size1' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :google_plus %>
			  <%= f.text_field :google_plus, :class => 'size1' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :facebook %>
			  <%= f.text_field :facebook, :class => 'size1' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :linkedin %>
			  <%= f.text_field :linkedin, :class => 'size1' %>
		  </div>
		  <div class="form-section">
			  <%= f.label :twitter %>
			  <%= f.text_field :twitter, :class => 'size1' %>
		  </div>
      <div class="form-section-save">
			  <%= f.submit :value => t('users.form.update') %>
		  </div>
	  </fieldset>
								
		<!--strong class="decor">
	  	<span>ACCOUNT</span>
    </strong>
		
		<fieldset>
				<div class="form-section">
						<label>E-mail</label>
						<input type="text" class="size1" value="" name="company"/>
				</div>
				<div class="form-section">
						<label>New password</label>
						<input type="password" class="size1" value="" name="company"/>
				</div>
				<div class="form-section">
						<label>Confirm password</label>
						<input type="password" class="size1" value="" name="company"/>
				</div>
				<div class="form-section-save">
						<%= f.submit %>
				</div>
		</fieldset-->
	</div>
<% end %>
