						<div id="sidebar">
              <div id="profile-block">
                  <div class="profile-picture">
                      <%= image_tag @user.avatar.url :medium %>
                  </div>
                  <div class="profile-socmedia">
                      <% unless @user.contact_email.blank? %><a href="mailto:<%= @user.contact_email %>"><%= image_tag 'icon-mail.png', :alt => 'E-mail' %></a><% end %>
                      <% unless @user.google_plus.blank? %><a href="<%= @user.google_plus %>"><%= image_tag 'icon-google-plus.png', :alt => 'Google plus' %></a><% end %>
                      <% unless @user.facebook.blank? %><a href="<%= @user.facebook %>"><%= image_tag 'icon-facebook.png', :alt => 'Facebook' %></a><% end %>
                      <% unless @user.twitter.blank? %><a href="<%= @user.twitter %>"><%= image_tag 'icon-twitter.png', :alt => 'Twitter' %></a><% end %>
                      <% unless @user.linkedin.blank? %><a href="<%= @user.linkedin %>"><%= image_tag 'icon-linkedin.png', :alt => 'LinkedIn' %></a><% end %>
                  </div>
                  <div class="profile-bio">
                      <div class="bio-section">
                          <h4><%= @user.first_name %> <%= @user.last_name %></h4>
                          <h5><%= @user.occupation %></h5>
                      </div>
                      <div class="bio-section">
                          <p><%= @user.company %></p>
                          <p><%= @user.location %></p>
                      </div>
                      <div class="bio-section">
                          <p>Following topics: <a href="#">Venture capital</a>, <a href="#">Design</a>, <a href="#">Green Energy</a></p>
                      </div>
                  </div>
                  <div class="profile-brief">
                    <%= @user.in_brief %> 
                  </div>
              </div>
						</div>
