<div id="content">

<% if !notice.blank? %><div class="notice"><%= notice %></div><% end %>
	<ul class="naving">
	  <li><%= link_to @user.display_name.upcase, @user %></li>
    <li><%= t '.discussions' %></li>
	</ul>
              <!--strong class="decor">
                  <span>PERSONAL</span>
              </strong-->
<div>
  <% @user.answered_questions.each do |question| %>
    <%= render question %>
  <% end %>
  
  <% if current_user == @user %>
  <% if @user.answered_questions.blank? %>
    <p><%= t '.no_answers_self1' %> <%= link_to t('.no_answers_self2'), new_question_path(:faq => true) %>, <%= t('.no_answers_self3').html_safe %></p>
  <% end %>
  <% else %>
    <!--p><%= t '.no_answers' %></p-->
  <% end %>
</div>

</div>
<% content_for :sidebar do %>
  <%= render 'users/usercolumn' %>
<% end %>
