<div id="content">

<% if !notice.blank? %><div class="notice"><%= notice %></div><% end %>
							<ul class="naving">
								<li><%= link_to @user.display_name.upcase, @user %></li>
								<li>Discussions</li>
							</ul>
              <strong class="decor">
                  <span>PERSONAL</span>
              </strong>

<div>
  <% @user.answered_questions.each do |question| %>
    <%= render question %>
  <% end %>
  
  <% if @user.answered_questions.blank? %>
  <p>Currently you don't have any questions and answers to show in your profile. You can start adding yor own <%= link_to "frequently asked questions", new_question_path %> first. Or you can answer some of assigned to you questions.</p>
  <% end %>
</div>

</div>
<% content_for :sidebar do %>
  <%= render 'users/usercolumn' %>
<% end %>