
<div id="sidebar">
  <% if !user_signed_in? %>
    <div class="find">
      <strong><%= t 'sidebar.find_new_insights' %> <br />&amp; <%= t 'sidebar.inspiration' %></strong>
      <p><%= t 'sidebar.about_text' %> <%= link_to "(#{t 'sidebar.read_more'})", :controller => :pages, :action => :about %></p>
      <a href="<%= new_registration_path(:user) %>" class="btn-find"><span><%= t 'sidebar.join_us' %></span></a>
    </div>
  <% end %>

  <strong class="decor" id="nav-bar-decor"><span><%= t 'sidebar.categories' %></span></strong>
	<ul class="nav-bar">
	  <% briefing_categories.each do |category_name, category| %>
	    <li>
        <%= link_to category_name, briefings_path(:category => category) %>
	    </li>  
	  <% end %>
	</ul>
</div>
