<div class="line">
  <%= link_to answer.user.display_name.upcase, user_path(answer.user), :class => 'open' %>
	<ul>
    <li><span><%= answer.user.occupation %> <% unless answer.user.company.blank? %> at <%= answer.user.company %><% end %></span></li>
    <%# if answer.comments_count > 0 || answer.likes_count > 0 %>
      <li><%= link_to "#{answer.comments_count} comments and #{answer.likes_count} reactions", [answer.question,answer] %></li>
    <%# end %>
      <li>posted <%= distance_of_time_in_words_to_now(answer.created_at) %> ago</li>
	</ul>
</div>
<p><%= auto_link simple_format answer.text %> <%= link_to "(#{t 'answers.answer.learn_more'})", [answer.question,answer] %></a></p>
<% if current_user == answer.user %><p class="edit-block"><a href="<%= url_for edit_question_answer_path(answer.question,answer) %>" class="edit-link">Edit</a></p><% end %>
<% unless answer.book_link.blank? %>
  <div class="book_link">
    <a href="<%= answer.book_link %>"><%= answer.book_name || answer.book_link %></a>&nbsp;
    <% unless answer.book_author.blank? %>|&nbsp;<a href="<%= answer.book_link %>"><%= answer.book_author %></a><% end %>
  </div>
<% end %>
<% if can? :manage, :all %><p class="edit-block"><a href="<%= url_for edit_question_answer_path(answer.question,answer) %>" class="edit-link"><%= t 'answers.answer.edit' %></a>&nbsp;<%= link_to t('answers.answer.delete'), [answer.question,answer], :confirm => t('answers.answer.confirm'), :method => :delete %></p><% end %>
