<%= form_for([@question,@answer]) do |f| %>
  <% if @answer.errors.any? %>
    <div class="error">
      <% @answer.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
      <% end %>
    </div>
  <% end %>
	<div class="section2">
		<div class="section2-holder">
			<span>Q</span>
			<div class="section2-frame">
				<strong><%= @question.title %></strong>
				<p><%= auto_link simple_format @question.description %></p>
        <% if current_user == @question.user %><a href="<%= url_for edit_question_path(@question) %>" class="edit-link">Edit question</a><% end %>
			</div>
		</div>
	</div>
	<%= render 'form_fields', :f => f%>
	<div class="section4">
			<fieldset>
				<div class="row">
					<%= f.submit %>
				</div>
			</fieldset>
	</div>
<% end %>
