<div id="sidebar">
  <strong class="decor"><span><%= t('answers.sidebar.guideline') %></span></strong>
	<div class="textbox">
    <p><%= t('answers.sidebar.guideline1') %><p>
    <strong><%= t('answers.sidebar.guideline2') %></strong>
		<ul>
		  <li>
				<span>1.</span>
        <p><%= t('answers.sidebar.guideline3') %></p>
		  </li>
		  <li>
				<span>2.</span>
        <p><%= t('answers.sidebar.guideline4') %></p>
		  </li>
		  <li>
				<span>3.</span>
        <p><%= t('answers.sidebar.guideline5') %></p>
		  </li>
		  <li>
				<span>4.</span>
        <p><%= t('answers.sidebar.guideline6') %></p>
		  </li>
		</ul>
    <p><%= t('answers.sidebar.guideline7') %></p>
    <strong><%= t('answers.sidebar.guideline8') %></strong>
    <p><%= t('answers.sidebar.guideline9') %></p>
	</div>
</div>
