<div id="content">
<!-- sections -->
<div class="sections">
	<div class="section">
    
    <% if !notice.blank? %><div class="notice"><%= notice %></div><% end %>
		
    <div class="heading2">
			<ul>
				<li><a href="<%= questions_path(:category => @answer.question.category) %>"><%= category_name @answer.question.category %></a></li>
			</ul>
			<ul class="nav-list3">
          <% @answer.question.tags.each do |tag| %>
			      <li><a href="#"><%= tag.name.capitalize %></a></li>
			    <% end %>
			</ul>
		</div>
		<h3><%= @answer.question.title %></h3>
		<!--ul class="nav-add">
      <li><span>15</span> APPRECIATED</li>
      <li><span>456</span> COMMENTS</li>
      <li><span>300</span> VIEWS</li>
    </ul-->
		<div class="line">
      <%= link_to @answer.user.display_name.upcase, user_path(@answer.user), :class => 'open' %>
      <ul>
        <li><span><%= @answer.user.occupation %><% if @answer.user.company %> at <%= @answer.user.company %><% end %></span></li>
        <li><%= link_to '0 Comments', question_answer_path(@answer.question, @answer) + '#disqus_thread' %></li>
        <li>posted <%= distance_of_time_in_words_to_now(@answer.created_at) %> ago</li>
      </ul>
    </div>
		<div class="section-row">
			<p><%= auto_link simple_format @answer.text %></p>
		</div>
	</div>
	<div class="section">
		<% if !@answer.fulltext.blank? %><p><strong>ANSWER CONT’D</strong>  <%= auto_link simple_format @answer.fulltext %></p><% end %>
		<div class="section-holder">
			<ul>
        <% if @answer.question.answers.count > 1 %>
        <li><a href="<%= question_path(@answer.question) %>"><%= @answer.question.answers.count %> <span>MORE ANSWERS</span></a></li>
        <% end %>
				<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(@answer.question) %></li>
			</ul>
		</div>
	</div>
  
	<div class="box-comments">
		<div class="comments-top">
			<div class="comments-top-line">
				<strong>COMMENT ON THIS POST</strong>
				<span><%= @answer.comments.count %> total comments</span>
			</div>
			<ul class="com-post">
				<% Comment.each_with_level(@answer.comments) do |comment, level| %>
				  <li <%= "class='rep-post-#{level}'".html_safe if level %> >
	          <div class="com-line">
		          <img src="images/img-7.jpg" alt="" />
		          <strong><%= link_to comment.user.display_name.upcase, user_path(comment.user), :class => 'open' %></strong>
		          <a href="#" class="bul-rate">0</a>
		          <a href="#">Reply</a>
	          </div>
	          <p><span><%= distance_of_time_in_words_to_now(comment.created_at) %> ago: </span> <%= comment.body %></p>
	          <div class="underpost">
		          <a href="#">link</a>
		          <a href="#" class="flag">flag</a>
	          </div>
          </li>
				<% end %>
			</ul>
		</div>
		<% if user_signed_in? %>
		  <%= form_tag comment_question_answer_path(@answer.question, @answer), :method => :post, :class => "com-form" do %>
			  <fieldset>
				  <strong>WHAT DO YOU THINK? WHAT IS YOUR EXPERIENCE?</strong>				
				  <textarea rows="3" cols="3" name="comment">Write comment here....</textarea>
			  </fieldset>
			  <div class="com-bot">
			    <a href="#" class="com-info">POSTING GUIDELINES</a>
			    <input type="submit" class="com-add" value="ADD COMMENT"/>
		    </div>
		  <% end %>
		<% else %>
		  <span><a href="#">Sign in to add a comment</a> or <a href="#">Join (it’s free and fast)</a></span>
		<% end %>
		<div class="com-end"></div>
	</div>
  
	<!--div class="section">
		<strong class="rel-head">RELATED Q&amp;As</strong>
		<% @answer.question.similar_questions.each do |question| %>
      <%= render question %>
    <% end %>
	</div-->
</div>

<% content_for :sidebar do %>
<!-- sidebar -->
	<div id="sidebar">
  <%= render 'shared/nav_sidebar' %>
  </div><!-- /sidebar -->
<% end %>
</div>
