<div id="content">
<!-- sections -->
<div class="sections">
	<div class="section">
    
    <% if !notice.blank? %><div class="notice"><%= notice %></div><% end %>
		
    <div class="heading2">
			<ul>
				<li><a href="<%= questions_path(:category => @answer.question.category) %>"><%= category_name @answer.question.category %></a></li>
			</ul>
			<ul class="nav-list3">
          <% @answer.question.tags.each do |tag| %>
			      <li><a href="#"><%= tag.name.capitalize %></a></li>
			    <% end %>
			</ul>
		</div>
		<h3><%= @answer.question.title %></h3>
		<div class="line">
      <%= link_to @answer.user.display_name.upcase, user_path(@answer.user), :class => 'open' %>
      <ul>
        <li><span><%= @answer.user.occupation %><% if @answer.user.company %> at <%= @answer.user.company %><% end %></span></li>
        <li><%= link_to '0 Comments', question_answer_path(@answer.question, @answer) + '#disqus_thread' %></li>
        <li>posted <%= distance_of_time_in_words_to_now(@answer.created_at) %> ago</li>
      </ul>
    </div>
		<div class="section-row">
			<p><%= auto_link simple_format @answer.text %></p>
		</div>
	</div>
	<div class="section">
		<% if !@answer.fulltext.blank? %><p><strong>ANSWER CONT’D</strong>  <%= auto_link simple_format @answer.fulltext %></p><% end %>
		<div class="section-holder">
			<ul>
        <% if @answer.question.answers.count > 1 %>
        <li><a href="<%= question_path(@answer.question) %>"><%= @answer.question.answers.count %> <span>MORE ANSWERS</span></a></li>
        <% end %>
				<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(@answer.question) %></li>
			</ul>
		</div>
	</div>
  
	<!--div class="section">
		<strong class="rel-head">RELATED Q&amp;As</strong>
		<% @answer.question.similar_questions.each do |question| %>
      <%= render question %>
    <% end %>
	</div-->
</div>

<ul class="social-links">
  <li><a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="azurie">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
  <li>
    <iframe scrolling="no" frameborder="0" src="http://www.facebook.com/plugins/like.php?href=<%= question_answer_url(@answer.question,@answer) %>&amp;layout=button_count&amp;show_faces=true&amp;width=110&amp;action=like&amp;colorscheme=light&amp;height=20" style="border: medium none; overflow: hidden; width: 107px; height: 20px; position: relative;" allowtransparency="true"></iframe>
  </li>
  <li>
    <g:plusone size="medium" href="http://spasiboeva.ru/blog/13776.html"></g:plusone>
  </li>
</ul>
<div class="fb-comments" data-href="<%= question_answer_url(@answer.question,@answer) %>" data-num-posts="10" data-width="590"></div>

<% content_for :sidebar do %>
<!-- sidebar -->
	<div id="sidebar">
  <%= render 'shared/nav_sidebar' %>
  </div><!-- /sidebar -->
<% end %>
</div>
<% title @answer.question.title %>
