<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @answer.text %>
</p>

<p>
  <b>User:</b>
  <%= @answer.user.display_name %>
</p>


<%= link_to 'Edit', edit_question_answer_path(@question,@answer) %> |
<%= link_to 'Back', question_answers_path(@question) %>
