<div id="content">
<!-- sections -->
<div class="sections">
	<div class="section">
    
    <% if !notice.blank? %><div class="notice"><%= notice %></div><% end %>
		
    <div class="heading2">
			<ul>
				<li><a href="<%= questions_path(:category => @answer.question.category) %>"><%= category_name @answer.question.category %></a></li>
			</ul>
			<ul class="nav-list3">
          <% @answer.question.tags.each do |tag| %>
			      <li><a href="#"><%= tag.name.capitalize %></a></li>
			    <% end %>
			</ul>
		</div>
		<h3><%= @answer.question.title %></h3>
		<div class="line">
      <%= link_to @answer.user.display_name.upcase, user_path(@answer.user), :class => 'open' %>
      <ul>
        <li><span><%= @answer.user.occupation %><% if @answer.user.company %> at <%= @answer.user.company %><% end %></span></li>
        <!--li><%= "#{@answer.comments_count} #{t '.comments'}" %></li>
        <li>posted <%= distance_of_time_in_words_to_now(@answer.created_at) %> ago</li-->
      </ul>
    </div>
		<div class="section-row">
			<p><%= auto_link simple_format @answer.text %></p>
		</div>
	</div>
	<div class="section">
    <% if !@answer.fulltext.blank? %><p><strong><%= t('.answer_contd') %></strong>  <%= auto_link simple_format @answer.fulltext %></p><% end %>
		<div class="section-holder">
			<ul>
        <% if @answer.question.answers.count > 1 %>
          <li><a href="<%= question_path(@answer.question) %>"><%= @answer.question.answers.count %> <span><%= t '.more_answers' %></span></a></li>
        <% end %>
				<li><%= link_to t('.add_answer'),  new_question_answer_path(@answer.question) %></li>
			</ul>
		</div>
	</div>
  
	<!--div class="section">
		<strong class="rel-head">RELATED Q&amp;As</strong>
		<% @answer.question.similar_questions.each do |question| %>
      <%= render question %>
    <% end %>
	</div-->
</div>

<%= render :partial => 'shared/social', :locals => { :url => question_answer_url(@answer.question,@answer) } %>
<% content_for :social_init do %>
  <%= render 'shared/social_init' %>
<% end %>
<% content_for :sidebar do %>
<!-- sidebar -->
	<div id="sidebar">
  <%= render 'shared/nav_sidebar' %>
  </div><!-- /sidebar -->
<% end %>
</div>
<% title @answer.question.title %>
