<% content_for :promo do %>
<div id="featured" class="page-wrapper">
  <div class="wrapper-content">
		<div class="promo">
			<div class="text" style="padding-bottom:1em;">
        <strong><%= t('.manifesto') %></strong>
        <p><span><%= t('.manifesto1') %></span>, <%= t('.manifesto2') %> <span><%= t('.manifesto3') %></span>, <%= t('.manifesto4') %> <span><%= t('.manifesto5') %></span>, <span><%= t('.manifesto6') %></span>, <%= t('.manifesto7') %> <span><%= t('.manifesto8') %></span>, <span><%= t('.manifesto9') %></span>. <%= t('.manifesto10') %></p>
			</div>
		</div>
	</div>
</div>
<% end %>

<div id="content">
<% content_for :sidebar do %>
	<%= render 'shared/nav_sidebar' %>
<% end %>

<h2><%= t '.about' %></h2>
<div class="text-box">
  <h3>'<%= t('.about1').html_safe %>'</h3>
  <p><%= t('.about2').html_safe %></p> 
  <p><%= t('.about3').html_safe %></p>
  <% unless user_signed_in? %>
    <p><a href="<%= new_user_registration_path %>"><%= t('.join_us') %></a> <%= t('.join_us2') %></p>
  <% end %>
  <strong class="decor"><span><%= t('.background') %></span></strong>
  <p><%= t('.background1') %></p>
  <p><%= t('.background2') %></p>
</div>
</div>
