<div id="content">
<% content_for :promo do %>
  <div class="promo">
		<div id="slider"><div class="slides_container">
      
      <% Briefing.all.each do |briefing| %>
			<div style="width:955px;height:300px;">
        <div class="visual">
          <% if !briefing.video.blank? %>
          <script type="text/javascript">
            var BriefingVideo_<%= briefing.id %> = '<%= briefing.video.html_safe %>';
          </script>
          <% end %>
          <div <% if !briefing.video.blank? %>class="video-teaser" onclick='replaceVideoTeaser(this, BriefingVideo_<%= briefing.id %>)'<% end %>><%= image_tag(briefing.picture.url(:medium)) %></div>
        </div>
        <div class="slide_textbox">
          <span><%= link_to "BRIEFINGS", briefings_path %></span>
          <strong><%= link_to briefing.title, briefing_path(briefing) %></strong>
          <p><%= truncate strip_tags(briefing.description), :length => 256, :separator => "\n" %> <%= link_to '(learn more)', briefing_path(briefing) %></a></p>
        </div>
			</div>
    <% end %>   
		</div></div>
	</div>
  <script type="text/javascript"> 
      $(function(){
          $("#slider").slides({
              play: 10000,
              pause: 2500,
              slideSpeed: 1000,
              hoverPause: true,
              generateNextPrev: false,
              effect: 'fade'
          });
      });
  </script> 
<% end %>

<% content_for :sidebar do %>
  <!-- sidebar -->
	<div id="sidebar">
    <% if !user_signed_in? %>
		<div class="find">
			<strong>FIND KNOWLEDGE <br />&amp; INSPIRATION</strong>
      <p>Azurie feeds on insights from entrepreneurial and creative thought leaders globally <%= link_to '(read more)', :controller => :pages, :action => :about %></p>
			<a href="<%= new_user_registration_path %>" class="btn-find"><span>JOIN OUR COMMUNITY</span></a>
		</div>
    <% end %>
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2>Q&amp;A</h2>
<%= render 'shared/search_form' %>
<strong class="decor"><span>DAILY TOP Q&amp;As</span></strong>
<!-- sections -->
<div class="sections">  
	<% @top_questions.each do |question| %>
	  <%= render question %>
	<% end %>
</div>
<div class="section-area">
	<!--a href="#" class="load">LOAD MORE Q&amp;As</a-->
	<h4>CAN'T FIND AN ANSWER? <%= link_to 'POST YOUR QUESTION HERE', new_question_path %></a></h4>
</div>  
</div>
