<div id="content">
<% content_for :promo do %>
  <div class="promo">
		<div id="gallery">
			<div class="slide">
				<ul>
					<li>
						<div class="visual">
							<% if !Briefing.last.video.blank? %>
                <%= Briefing.last.video.html_safe %>
              <% else %>
                <%= image_tag(Briefing.last.picture.url(:medium)) %>
              <% end %>
						</div>
						<div class="textbox">
							<span><%= link_to "BRIEFINGS", briefings_path %></span>
							<strong><%= link_to Briefing.last.title, briefing_path(Briefing.last) %></strong>
							<p><%= Briefing.last.description %> <%= link_to '(learn more)', briefing_path(Briefing.last) %></a></p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<% end %>

<% content_for :sidebar do %>
  <!-- sidebar -->
	<div id="sidebar">
    <% if !user_signed_in? %>
		<div class="find">
			<strong>FIND KNOWLEDGE <br />&amp; INSPIRATION</strong>
			<span>On realizing global business ideas</span>
      <p>A cross-disciplinary collaborative of leading professionals worlwide <%= link_to '(read more)', :controller => :pages, :action => :about %></p>
			<a href="<%= new_user_registration_path %>" class="btn-find"><span>JOIN OUR COMMUNITY</span></a>
		</div>
    <% end %>
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2>Q&amp;A</h2>
<form class="search" action="<%= search_questions_path %>">
	<fieldset>
		<div class="row">
			<span>
				<input name="q" type="text" value="SEARCH QUERY HERE" />
				<input type="submit" value="" class="btn-search" />
			</span>
		</div>
	</fieldset>
</form>
<strong class="decor"><span>DAILY TOP Q&amp;As</span></strong>
<!-- sections -->
<div class="sections">
	<% @top_questions.each do |question| %>
	  <%= render question %>
	<% end %>
</div>
<div class="section-area">
	<!--a href="#" class="load">LOAD MORE Q&amp;As</a-->
	<h4>CAN'T FIND AN ANSWER? <%= link_to 'POST YOUR QUESTION HERE', new_question_path %></a></h4>
</div>  
</div>
