<ul class="naving">
  <li><span>SIGN IN</span></li>
</ul>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <div class="form-section">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'size2' %>
    </div>

    <div class="form-section">
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'size2' %>
    </div>

  <% if devise_mapping.rememberable? -%>

    <div class="form-section"><label><%= f.check_box :remember_me %> Remember me</label></div>
  <% end -%>

    <div class="form-section-submit"><%= f.submit "Sign in" %></div>
  </fieldset>
<% end %>
<div style="margin-top:20px">
<%= render :partial => "devise/shared/links" %>
</div>