<div class="section">
	<div class="heading">
		<ul>
			<li><a href="#"><%= briefing.category.capitalize %></a></li>
		</ul>
	</div>
	<h3><%= link_to briefing.title, briefing %></h3>
	<div class="line">
		<ul>
			<li><%= link_to '0 Comments and 0 Reactions', briefing_path(briefing) + '#disqus_thread' %></li>
			<li>posted <%= distance_of_time_in_words_to_now(briefing.created_at) %> ago</li>
		</ul>
		<div class="section-row">
      <div class="briefing-small-image">
        <%= image_tag(briefing.picture.url(:small)) %>
      </div>
			<p><%= briefing.description %> <%= link_to "(learn more)", [briefing] %></p>
		</div>
    <% if can? :manage, :all %><p class="edit-block"><a href="<%= url_for edit_briefing_path(briefing) %>" class="edit-link">Edit</a>&nbsp;<%= link_to 'Destroy', [briefing], :confirm => 'Are you sure?', :method => :delete %></p><% end %>
	</div>
</div>
