<div class="section">
	<div class="heading">
		<ul>
      <li><a href="<%= briefings_path(:category => briefing.category) %>"><%= briefing_category_name briefing.category %></a></li>
		</ul>
	</div>
	<h3><%= link_to briefing.title.upcase, briefing %></h3>
	<div class="line">
		<!--ul>
			<li><%= link_to "#{briefing.comments_count} Comments and #{briefing.likes_count} Reactions", briefing_path(briefing) %></li>
			<li>posted <%= distance_of_time_in_words_to_now(briefing.created_at) %> ago</li>
		</ul-->
		<div class="section-row">
      <div class="briefing-small-image">
        <%= image_tag(briefing.picture.url(:small)) %>
      </div>
      <p><%= truncate(strip_tags(briefing.description), :length => 800, :separator => "\n").html_safe %> <%= link_to "(#{t 'briefings.briefing.learn_more'})", [briefing] %></p>
		</div>
    <% if can? :manage, :all %><p class="edit-block"><a href="<%= url_for edit_briefing_path(briefing) %>" class="edit-link">Edit</a>&nbsp;<%= link_to 'Destroy', [briefing], :confirm => 'Are you sure?', :method => :delete %></p><% end %>
	</div>
</div>
