<%= form_for(@briefing) do |f| %>
  <% if @briefing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@briefing.errors.count, "error") %> prohibited this briefing from being saved:</h2>

      <ul>
      <% @briefing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, question_category_values %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_area :source %>
  </div>
  <div class="field">
    <%= f.label :is_quote %><br />
    <%= f.check_box :is_quote %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
