<%= form_for(@briefing, :html => { :multipart => true }) do |f| %>
  <% if @briefing.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@briefing.errors.count, "error") %> prohibited this briefing from being saved:</h2>

      <ul>
      <% @briefing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="form-section">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'size1' %>
  </div>
  <div class="form-section">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "mceEditor" %>
  </div>
  <div class="form-section">
    <%= f.label :category %>
    <%= f.select :category, question_category_values %>
  </div>
  <div class="form-section">
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>
  <div class="form-section">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <div class="form-section">
    <%= f.label :video %>
    <%= f.text_area :video %>
  </div>
  <div class="form-section">
    <label><%= f.check_box :is_quote %> Is quote</label>
  </div>
  <div class="form-section-save">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
