<h1>Listing briefings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Source</th>
    <th>Is quote</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @briefings.each do |briefing| %>
  <tr>
    <td><%= briefing.title %></td>
    <td><%= briefing.description %></td>
    <td><%= briefing.category %></td>
    <td><%= briefing.source %></td>
    <td><%= briefing.is_quote %></td>
    <td><%= briefing.user.display_name %></td>
    <td><%= link_to 'Show', briefing %></td>
    <td><%= link_to 'Edit', edit_briefing_path(briefing) %></td>
    <td><%= link_to 'Destroy', briefing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Briefing', new_briefing_path %>
