<div id="content">
<% content_for :sidebar do %>
  <div id="sidebar">
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2><%= t '.featured_media' %></h2>
<form class="search" action="#">
	<fieldset>
		<div class="row">
			<span>
        <input type="text" value="<% unless params[:q].blank? %><%= params[:q] %><% else %><%= t '.search_here' %><% end %>" onfocus="javascript:if(this.value=='<%= t '.search_here' %>'){this.value='';}" onblur="javascript:if(this.value==''){this.value='<%= t '.search_here' %>';}" />
				<input type="submit" value="" class="btn-search" />
			</span>

		</div>
	</fieldset>
</form>
<ul class="nav-add">
  <li><a href="#"><span><%= @briefings.count %></span> <%= t '.featured_media' %></a></li>
  <li><a href="#"><span><%= @comments_count %></span> <%= t '.comments' %></a></li>

	<!--li class="bul-slash"><a href="#">RATING</a></li>
	<li><a href="#"><span>POPULARITY</span></a></li>
	<li><a href="#">DATE</a></li-->
</ul>
<!-- sections -->
<div class="sections briefings-list">
  <% @briefings.each do |briefing| %>
	  <%= render briefing %>
	<% end %>
</div>
<div class="sections">
  <% if @briefings_count > WillPaginate.per_page %>
    <%= link_to t('.load_more').html_safe, params.merge(:page => 2), :remote => true, :class => 'load-briefings load-more-briefings' %>
  <% end %>
</div>
<div class="section-area">
  <h4><%= t '.are_you_expert' %>  <a href="mailto:hello@azurie.com"><%= t '.contact_us' %> ></a></h4>
</div>
</div>
