<div id="content">
<div class="sections">
	<div class="section">
    
    <p id="notice"><%= notice %></p>

		<h3><%= @briefing.title %></h3>

		<div class="section-row">
      <div class="picture-video">
          <% if !@briefing.video.blank? %>
          <script type="text/javascript">
            var BriefingVideo_<%= @briefing.id %> = '<%= @briefing.video.html_safe %>';
          </script>
          <% end %>
          <div <% if !@briefing.video.blank? %>class="video-teaser" onclick='replaceVideoTeaser(this, BriefingVideo_<%= @briefing.id %>)'<% end %>><%= image_tag(@briefing.picture.url(:x_medium)) %></div>
      </div>
			<p><%= auto_link simple_format @briefing.description %></p>
		</div>
	</div>
</div>

<%= render :partial => 'shared/social', :locals => { :url => briefing_url(@briefing) } %>

<% content_for :sidebar do %>
<!-- sidebar -->
	<div id="sidebar">
  <%= render 'shared/nav_sidebar' %>
  </div><!-- /sidebar -->
<% end %>
</div>
<% title @briefing.title %>
