<div id="content">
<div class="sections">
	<div class="section">
    
    <p id="notice"><%= notice %></p>

		<h3><%= @briefing.title %></h3>

		<div class="section-row">
      <div class="picture-video">
          <% if !@briefing.video.blank? %>
          <script type="text/javascript">
            var BriefingVideo_<%= @briefing.id %> = '<%= @briefing.video.html_safe %>';
          </script>
          <% end %>
          <div <% if !@briefing.video.blank? %>class="video-teaser" onclick='replaceVideoTeaser(this, BriefingVideo_<%= @briefing.id %>)'<% end %>><%= image_tag(@briefing.picture.url(:x_medium)) %></div>
      </div>
			<p><%= auto_link simple_format @briefing.description %></p>
		</div>
	</div>
</div>

<ul class="social-links">
  <li><a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="azurie">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
  <li>
    <iframe scrolling="no" frameborder="0" src="http://www.facebook.com/plugins/like.php?href=<%= briefing_url(@briefing) %>&amp;layout=button_count&amp;show_faces=true&amp;width=110&amp;action=like&amp;colorscheme=light&amp;height=20" style="border: medium none; overflow: hidden; width: 107px; height: 20px; position: relative;" allowtransparency="true"></iframe>
  </li>
  <li>
    <g:plusone size="medium" href="http://spasiboeva.ru/blog/13776.html"></g:plusone>
  </li>
</ul>
<div class="fb-comments" data-href="<%= briefing_url(@briefing) %>" data-num-posts="10" data-width="590"></div>

<% content_for :sidebar do %>
<!-- sidebar -->
	<div id="sidebar">
  <%= render 'shared/nav_sidebar' %>
  </div><!-- /sidebar -->
<% end %>
</div>
<% title @briefing.title %>
