<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Azurie</title>
  <%= stylesheet_link_merged(:base).html_safe %>
  <%= javascript_include_merged(:base).html_safe %>
  <%= csrf_meta_tag %>
</head>
<body <% unless params[:controller] == 'pages' %> class="inner" <% end %> >
<!-- wrapper -->
	<div id="wrapper">
		<div class="w1">
			<div class="w2">
<!-- header -->
				<div id="header">
					<div class="area">
						<h1 class="logo"><a href="/">Azurie VENTURE ROADMAP</a></h1>
						
						<% if user_signed_in? %>
						  <ul class="tools tools-logged-in">
                <li><%= link_to 'Home', current_user %></li>
                <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
                <li><%= link_to "Sign out", destroy_session_path(:user) %></li>
						  </ul>
						<% else %>
						  <ul class="tools">
  						  <li><%= link_to "Sign in", new_session_path(:user) %></li>
							  <li><a href="<%= omniauth_authorize_path(:user, :facebook) %>" title="Sign in with Facebook"><img src="/images/ico-facebook.jpg" height="17" width="17" alt="ico" /></a></li>
							  <li><a href="<%= omniauth_authorize_path(:user, :google_apps) %>" title="Sign in with Google+"><img src="/images/ico-googleplus.jpg" height="17" width="17" alt="ico" /></a></li>
						  </ul>
						<% end %>
						
					</div>
<!-- nav -->
					<ul id="nav">
						<li  <% if params[:controller] == 'briefings' || current_page?('/') %> class="active" <% end %> >
						  <%= link_to "BRIEFINGS", briefings_path %>
						</li>
						<li <% if params[:controller] == 'questions' %> class="active" <% end %> >
						  <%= link_to "ALL Q&amp;As".html_safe, questions_path %>
						</li>
						<!--li <% if params[:controller] =~ /(^devise\/*)|(^users$)/ %> class="active" <% end %> >
						  <%= link_to "PEOPLE", users_path %>
						</li-->
						<li <% if current_page?(about_path) %> class="active" <% end %> >
						  <%= link_to "ABOUT", about_path %>
					  </li>
					</ul>
				</div>
<!-- main -->
				<div id="main">
				  <!-- promo slot -->
				  <%= yield :promo %>
				  <div class="main-content">
				    <div id="content">
				      <%= yield %>
				    </div>
				    <!-- sidebar slot -->
				    <%= yield :sidebar %>  
          </div>
        </div>
        <div id="footer">
					<div class="columns">
						<div class="column-1">
							<strong>NEWS</strong>
							<p><strong>16 Nov 2011</strong> One of the keys to building a successful company and creating a product that people love is to find and exploit a gap in the existing market. One of the keys to building a successful company</p>
						</div>
						<div class="column-2">
							<strong>LEARN FROM MOGULS AND LEADING PROFESSIONALS</strong>
							<p>Our vision is to record most relevant knowledge and insight from entrepreneurial thought leaders and make it universally accessible and useful</p>
							<ul>
								<li>
									<ul>
										<li><a href="#">About</a></li>
										<!--li><a href="#">Press</a></li>
										<li><a href="#">Careers</a></li-->
									</ul>
								</li>
								<li>
									<ul>
										<!--li><a href="#">Editors and Contributors</a></li-->
										<li><a href="#">Special Thanks</a></li>
										<!--li><a href="#"></a></li-->
									</ul>
								</li>
							</ul>
						</div>
						<div class="column-3">
							<strong>CONNECT WITH US</strong>
							<ul>
								<!--li>
									<img src="/images/ico-2.jpg" height="17" width="17" alt="ico" />
									<a href="#">Join us on Google+</a>
								</li-->
								<li>
									<img src="/images/ico-3.jpg" height="17" width="17" alt="ico" />
									<a href="#">Like us on Facebook</a>
								</li>
								<!--li>
									<img src="/images/ico-4.jpg" height="17" width="17" alt="ico" />
									<a href="#">Read our blog on Tumblr</a>
								</li-->
								<li>
									<img src="/images/ico-5.jpg" height="17" width="17" alt="ico" />
									<a href="#">Follow us on Twitter</a>
								</li>
								<!--li>
									<img src="/images/ico-6.jpg" height="17" width="17" alt="ico" />
									<a href="#">Connect to us on Linkedin</a>
								</li-->
                <li>
									<img src="/images/ico-7.jpg" height="17" width="17" alt="ico" />
									<a href="#">Subscribe to us via RSS</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="footer-holder">
						<span class="copy">&copy; 2011 Azurie  </span>
						<ul class="navigation">
							<!--li><a href="#">Terms of Use </a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Community Guidelines</a></li>
							<li><a href="#">Feedback</a></li-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'azuriedev'; // required: replace example with your forum shortname
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
</body>
</html>
