<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  <link rel=”alternate” type=”application/rss+xml” title=”Azurie RSS” href=”<%= questions_path :format => :rss %>” />
  <title>Azurie <%= yield :title %></title>
  <%= stylesheet_link_merged(:base).html_safe %>
  <%= javascript_include_merged(:base).html_safe %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=152692304811046";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="header" class="page-wrapper">
  <div class="wrapper-content">
    <div class="area">
      <h1 class="logo"><a href="/">Azurie VENTURE ROADMAP</a></h1>
      
      <% if user_signed_in? %>
        <ul class="tools tools-logged-in">
          <li><%= link_to 'HOME', current_user, {:style => 'color:#CC1885;'} %></li>
          <li><%= link_to 'SETTINGS', edit_user_path(current_user) %></li>
          <li><%= link_to "SIGN OUT", destroy_user_session_path %></li>
        </ul>
      <% else %>
        <ul class="tools">
          <li><%= link_to "SIGN IN", new_session_path(:user) %></li>
          <!--li><a href="<%= omniauth_authorize_path(:user, :facebook) %>" title="Sign in with Facebook"><img src="/images/ico-facebook.jpg" height="17" width="17" alt="ico" /></a></li>
          <li><a href="<%= omniauth_authorize_path(:user, :google_apps) %>" title="Sign in with Google+"><img src="/images/ico-googleplus.jpg" height="17" width="17" alt="ico" /></a></li-->
        </ul>
      <% end %>
      
    </div>
<!-- nav -->
    <ul id="nav">
      <li  <% if params[:controller] == 'briefings' || current_page?('/') %> class="active" <% end %> >
        <%= link_to "BRIEFINGS", briefings_path %>
      </li>
      <li <% if params[:controller] == 'questions' %> class="active" <% end %> >
        <%= link_to "Q&amp;As".html_safe, questions_path %>
      </li>
      <!--li <% if params[:controller] =~ /(^devise\/*)|(^users$)/ %> class="active" <% end %> >
        <%= link_to "PEOPLE", users_path %>
      </li-->
      <li <% if current_page?(about_path) %> class="active" <% end %> >
        <%= link_to "ABOUT", about_path %>
      </li>
    </ul>
  </div>
</div>

<%= yield :promo %>
 
<div id="main" class="page-wrapper">
  <div class="wrapper-content">
    <!-- promo slot -->
    <div class="main-content">
        <%= yield %>
      <!-- sidebar slot -->
      <%= yield :sidebar %>  
    </div>
  </div>
</div>
        
<div id="footer" class="page-wrapper">
  <div class="wrapper-content">
    <div class="columns">
      <div class="column-1">
        <strong>NEWS</strong>
        <p><strong>12 Jan 2012</strong> The beta version of Azurie has been launched and we will be testing the platform with a select group of people. Please be patient, invitations will go out to the wider community soon! To get on the mailing list please send your name through the feedback link.</p>
      </div>
      <div class="column-2">
        <strong>VISION AND MISSION</strong>
        <p>Our vision is to become the leading edge knowledge resource and community for frontier entrepreneurship globally</p>
        <p>Our mission is to put the spotlight on leading experts and those driving innovation in their industries &mdash; how to succeed and where to invest.</p>
        <!--ul>
          <li>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li><a href="#">Editors and Contributors</a></li>
              <li><a href="#">Special Thanks</a></li>
              <li><a href="#"></a></li>
            </ul>
          </li>
        </ul-->
      </div>
      <div class="column-3">
        <strong>CONNECT WITH US</strong>
        <ul>
          <li>
            <img src="/images/ico-2.jpg" height="17" width="17" alt="ico" />
            <a href="https://plus.google.com/u/0/115224815136943317404">Join us on Google+</a>
          </li>
          <li>
            <img src="/images/ico-3.jpg" height="17" width="17" alt="ico" />
            <a href="https://www.facebook.com/azuriemedia">Like us on Facebook</a>
          </li>
          <!--li>
            <img src="/images/ico-4.jpg" height="17" width="17" alt="ico" />
            <a href="#">Read our blog on Tumblr</a>
          </li-->
          <li>
            <img src="/images/ico-5.jpg" height="17" width="17" alt="ico" />
            <a href="http://twitter.com/#!/VentureRoadmap">Follow us on Twitter</a>
          </li>
          <!--li>
            <img src="/images/ico-6.jpg" height="17" width="17" alt="ico" />
            <a href="#">Connect to us on Linkedin</a>
          </li-->
          <li>
            <img src="/images/ico-7.jpg" height="17" width="17" alt="ico" />
            <a href="<%= questions_path :format => :rss %>">Subscribe to us via RSS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer-links" class="page-wrapper">
  <div class="wrapper-content">    
    <div class="footer-holder">
      <span class="copy">&copy; 2011 Azurie  </span>
      <ul class="navigation">
        <li><%= link_to 'About', :controller => '/pages', :action => :about %></li>
        <!--li><%= link_to 'Special thanks', :controller => '/pages', :action => :thanks %></li>
        <li><a href="#">Community Guidelines</a></li-->
        <li><a href="mailto:team@azurie.com">Feedback</a></li>
        <% if can? :manage, :all %>
          <li><%= link_to "Invite user", new_user_invitation_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "All questions", all_questions_path %></li>
          <li><%= link_to "Pending questions", pending_questions_path %></li>
          <li><%= link_to "Unanswered questions", unanswered_questions_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
