<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  <link rel=”alternate” type=”application/rss+xml” title=”Azurie RSS” href=”<%= briefings_path :format => :rss %>” />
  <title>Azurie <%= yield :title %></title>
  
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
<%= yield :social_init %>
<div id="header" class="page-wrapper">
  <div class="wrapper-content">
    <div class="area">
      <h1 class="logo"><a href="/"><%= t 'layout.logo' %></a></h1>
      
      <% if user_signed_in? %>
        <ul class="tools tools-logged-in">
          <li><%= link_to t('layout.tools.home'), current_user, {:style => 'color:#CC1885;'} %></li>
          <li><%= link_to t('layout.tools.settings'), edit_user_path(current_user) %></li>
          <li><%= link_to t('layout.tools.signout'), destroy_user_session_path %></li>
        </ul>
      <% else %>
        <ul class="tools">
          <li><%= link_to t('layout.tools.signin'), new_session_path(:user) %></li>
          <li><a href="<%= omniauth_authorize_path(:user, :facebook) %>" title="<%= t('layout.tools.facebook') %>"><img src="/assets/ico-facebook.jpg" height="17" width="17" alt="ico" /></a></li>
          <li><a href="<%= omniauth_authorize_path(:user, :google_apps) %>" title="<%= t('layout.tools.googleplus') %>"><img src="/assets/ico-googleplus.jpg" height="17" width="17" alt="ico" /></a></li>
        </ul>
      <% end %>
      
    </div>
<!-- nav -->
    <ul id="nav">
      <li  <% if params[:controller] == 'briefings' || current_page?('/') %> class="active" <% end %> >
        <%= link_to t('layout.menu.media'), briefings_path %>
      </li>
      <li <% if params[:controller] == 'questions' %> class="active" <% end %> >
        <%= link_to t('layout.menu.qa').html_safe, questions_path %>
      </li>
      <!--li <% if params[:controller] =~ /(^devise\/*)|(^users$)/ %> class="active" <% end %> >
        <%= link_to t('layout.menu.people'), users_path %>
      </li-->
      <li <% if current_page?(about_path) %> class="active" <% end %> >
        <%= link_to t('layout.menu.about'), about_path %>
      </li>
    </ul>
  </div>
</div>

<%= yield :promo %>
 
<div id="main" class="page-wrapper">
  <div class="wrapper-content">
    <!-- promo slot -->
    <div class="main-content">
        <%= yield %>
      <!-- sidebar slot -->
      <%= yield :sidebar %>  
    </div>
  </div>
</div>
        
<div id="footer" class="page-wrapper">
  <div class="wrapper-content">
    <div class="columns">
      <div class="column-1">
        <strong><%= t('layout.news') %></strong>
        <p><strong>12 Jan 2012</strong>&nbsp;<%= t('layout.news1') %></p>
      </div>
      <div class="column-2">
        <strong><%= t('layout.vision') %></strong>
        <p><%= t('layout.vision1') %></p>
        <p><%= t('layout.vision2').html_safe %></p>
        <!--ul>
          <li>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li><a href="#">Editors and Contributors</a></li>
              <li><a href="#">Special Thanks</a></li>
              <li><a href="#"></a></li>
            </ul>
          </li>
        </ul-->
      </div>
      <div class="column-3">
        <strong><%= t('layout.connect.title') %></strong>
        <ul>
          <li>
            <img src="/assets/ico-2.jpg" height="17" width="17" alt="ico" />
            <a href="https://plus.google.com/u/0/115224815136943317404"><%= t('layout.connect.googleplus') %></a>
          </li>
          <li>
            <img src="/assets/ico-3.jpg" height="17" width="17" alt="ico" />
            <a href="https://www.facebook.com/azuriemedia"><%= t('layout.connect.facebook') %></a>
          </li>
          <!--li>
            <img src="/assets/ico-4.jpg" height="17" width="17" alt="ico" />
            <a href="#">Read our blog on Tumblr</a>
          </li-->
          <li>
            <img src="/assets/ico-5.jpg" height="17" width="17" alt="ico" />
            <a href="http://twitter.com/#!/VentureRoadmap"><%= t('layout.connect.twitter') %></a>
          </li>
          <!--li>
            <img src="/assets/ico-6.jpg" height="17" width="17" alt="ico" />
            <a href="#">Connect to us on Linkedin</a>
          </li-->
          <li>
            <img src="/assets/ico-7.jpg" height="17" width="17" alt="ico" />
            <a href="<%= briefings_path :format => :rss %>"><%= t('layout.connect.rss') %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer-links" class="page-wrapper">
  <div class="wrapper-content">    
    <div class="footer-holder">
      <span class="copy">&copy; 2011 Azurie  </span>
      <ul class="navigation">
        <li><%= link_to t('layout.footer.about'), :controller => '/pages', :action => :about %></li>
        <!--li><%= link_to t('layout.footer.thanks'), :controller => '/pages', :action => :thanks %></li>
        <li><a href="#">Community Guidelines</a></li-->
        <li><a href="mailto:team@azurie.com"><%= t('layout.footer.feedback') %></a></li>
        <% if can? :manage, :all %>
          <li><%= link_to "Invite user", new_user_invitation_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "All questions", all_questions_path %></li>
          <li><%= link_to "Pending questions", pending_questions_path %></li>
          <li><%= link_to "Unanswered questions", unanswered_questions_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-23971299-1']);
 _gaq.push(['_trackPageview']);
 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
</body>
</html>
